node_modules
keys.json
networks.json
.env
*.env
.senv
*.senv

#Hardhat files
coverage
coverage.json
cache
artifacts/build-info
artifacts/**/*.dbg.json

.openzeppelin/unknown-31337.json

# Optimism Ethereum node
optimism
