node_modules
keys.json
networks.json
.env
*.env
*.senv

# Build files
dist
_build

#Hardhat files
coverage
coverage.json
cache
artifacts/**/*.dbg.json
.openzeppelin/unknown-1337.json

# L2 nodes
optimism
arbitrum
